.appLogin {
    background: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 10);
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appLogin>h1 {
    padding-bottom: 5px;
}