.machine {
    display: flex;
    transform-style: preserve-3d;
    perspective: 0;
    /* -webkit-perspective: 800; */
}

.slot {
    width: 75px;
    height: 75px;
    background: linear-gradient(0.5turn, black 0% 1%, white 30% 70%, black 99% 100%);
    margin: 5px;
    border: thin solid black;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    transform-style: preserve-3d;
    position: relative;
}

#ring-1 {
    animation-name: x-spin;
    animation-duration: 2s;
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 5s;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes x-spin {
    0% {
        -webkit-transform: rotateX(0deg);
    }

    50% {
        -webkit-transform: rotateX(180deg);
    }

    100% {
        -webkit-transform: rotateX(360deg);
    }
}

.carousel__cell {
    position: absolute;
    left: 10px;
}