.machine {
    display: flex;
    transform-style: preserve-3d;
    perspective: 0;
}

.slot {
    width: 75px;
    height: 100px;
    background: linear-gradient(0.5turn, grey, white 30% 70%, grey);
    margin: 5px;
    border: thin solid black;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 12px 0 20px -4px grey, -12px 0 20px -4px grey;
}

#ring-1 {
    animation-name: x-spin;
    animation-duration: 5s;
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 5s;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#ring-2 {
    animation-name: x-spin;
    animation-duration: 5s;
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 5s;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#ring-3 {
    animation-name: x-spin;
    animation-duration: 5s;
    -webkit-animation-name: x-spin;
    -webkit-animation-duration: 5s;
    transform-style: preserve-3d;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.46, -0.16, .0, 1.11);
    -webkit-transform-style: preserve-3d;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes x-spin {
    /* 0% {
        -webkit-transform: rotateX(0deg);
    }

    50% {
        -webkit-transform: rotateX(180deg);
    } */

    100% {
        -webkit-transform: rotateX(360deg);
    }
}

.carousel__cell {
    position: absolute;
    width: 100%;
    height: 100%;
}