.border {
    background: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 10);
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    background: green;
    margin: 0;
    padding: 0;
}

.circle {
    border-radius: 50%;
    height: 462.5px;
    overflow: hidden;
    position: relative;
    width: 462.5px;
    overflow: hidden;
    border: 10px solid #cfb103;
    z-index: 1;
}

.slice {
    bottom: 50%;
    height: 100%;
    left: 50%;
    position: absolute;
    transform-origin: bottom left;
    width: 100%;
    color: white;
    border: none;
}

.slice:nth-child(even) {
    background-color: black;
}

.slice:nth-child(odd) {
    background-color: red;
}

.slice:nth-child(1) {
    background-color: green;
}

.text {
    position: absolute;
    bottom: 148px;
    left: 5px;
    padding: 0px;
    color: white;
    transform-origin: bottom left;
    transform: skewY(calc(-9.72972972972973deg + 90deg)) rotate(calc(9.72972972972973deg / 2));
}

.innerCircle {
    background-color: #cfb103;
    height: 370px;
    width: 370px;
    position: absolute;
    border-radius: 50%;
    border: solid black 20px;
    transform: translate(10%, 10%);
}

.pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #dab903;
    transform: translate(215px, 0px);
    z-index: 2;
}

.spinning {
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.46, -0.16, .0, 1.13);
    animation-name: spinning;
    animation-fill-mode: forwards;
}