.app {
    display: flex;
    flex-direction: column;
}

.border {
    background: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 10);
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topBar {
    width: 100vw;
    position: absolute;
    z-index: 100;
}

.navRouter {
    position: relative;
    z-index: 99;
}